<ion-header>
  <ion-toolbar>
    <ion-title>Card List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchQuery" (ionInput)="onSearch($event)" placeholder="Search by name or number"></ion-searchbar>
  <ion-spinner *ngIf="loading"></ion-spinner>
  <div *ngIf="error" class="error">{{ error }}</div>
  <ion-grid *ngIf="isGridMode && !loading && !error">
    <ion-row>
      <ion-col size="6" *ngFor="let card of filteredCards">
        <app-card-item [card]="card" (click)="goToCardDetail(card)"></app-card-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list *ngIf="!isGridMode && !loading && !error">
    <app-card-item *ngFor="let card of filteredCards" [card]="card" (click)="goToCardDetail(card)"></app-card-item>
  </ion-list>
</ion-content>