@font-face {
  font-family: 'DigimonFont';
  src: url('../assets/fonts/digimon_font.ttf') format('truetype');
}

:root {
  --ion-font-family: 'DigimonFont', sans-serif;
  --ion-background-color: #ffffff;
  --ion-text-color: #000000;
  --ion-card-background: rgba(208, 188, 255, 0.1); // Purple80 cu alpha
  --ion-card-elevation: 4px;
}

.dark {
  --ion-background-color: #121212;
  --ion-text-color: #ffffff;
  --ion-card-background: rgba(102, 80, 164, 0.1); // Purple40 cu alpha
}

ion-card {
  background: var(--ion-card-background);
  box-shadow: 0 var(--ion-card-elevation) 8px rgba(0, 0, 0, 0.2);
}