<ion-header>
  <ion-toolbar>
    <ion-title>Digimon TCG Explorer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <img src="assets/digimon_logo.png" alt="Digimon Logo" class="logo" />

  <ion-button routerLink="/card-list" expand="block" class="animated-btn">View Cards</ion-button>
  <ion-button routerLink="/favorites" expand="block" class="animated-btn">Favorites</ion-button>
  <ion-button routerLink="/settings" expand="block" fill="clear" class="animated-btn">Settings</ion-button>
</ion-content>