<ion-header>
  <ion-toolbar>
    <ion-title>{{ card?.name || 'Card Details' }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/card-list"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="loading"></ion-spinner>
  <div *ngIf="error" class="error">{{ error }}</div>
  <div *ngIf="card" class="card-detail">
    <ion-img
      [src]="card.image_url || ('https://images.digimoncard.io/images/cards/' + card.cardnumber + '.jpg')"
      (click)="openImagePreview()"
      class="card-image"
    ></ion-img>
    <h2>{{ card.name }}</h2>
    <ion-card>
      <ion-card-header>Card No</ion-card-header>
      <ion-card-content>{{ card.cardnumber }}</ion-card-content>
    </ion-card>
    <ion-card *ngIf="card.level">
      <ion-card-header>Level</ion-card-header>
      <ion-card-content>{{ card.level }}</ion-card-content>
    </ion-card>
    <ion-card *ngIf="card.dp">
      <ion-card-header>DP</ion-card-header>
      <ion-card-content>{{ card.dp }}</ion-card-content>
    </ion-card>
    <ion-card *ngIf="card.color">
      <ion-card-header>Color</ion-card-header>
      <ion-card-content>{{ card.color }}</ion-card-content>
    </ion-card>
    <ion-card *ngIf="card.attribute">
      <ion-card-header>Attribute</ion-card-header>
      <ion-card-content>{{ card.attribute }}</ion-card-content>
    </ion-card>
    <ion-card *ngIf="card.digitype">
      <ion-card-header>Type</ion-card-header>
      <ion-card-content>{{ card.digitype }}</ion-card-content>
    </ion-card>
    <ion-card *ngIf="card.evostage">
      <ion-card-header>Evo Stage</ion-card-header>
      <ion-card-content>{{ card.evostage }}</ion-card-content>
    </ion-card>
    <ion-card *ngIf="card.evocost">
      <ion-card-header>Evo Cost</ion-card-header>
      <ion-card-content>{{ card.evocost }}</ion-card-content>
    </ion-card>
    <ion-button expand="block" (click)="toggleFavorite()">{{ isFavorite ? 'Remove from Favorites' : 'Add to Favorites' }}</ion-button>
  </div>
  <div *ngIf="isImagePreviewOpen" class="image-preview" (click)="closeImagePreview()">
    <ion-img
      [src]="card.image_url || ('https://images.digimoncard.io/images/cards/' + card.cardnumber + '.jpg')"
      class="preview-image"
      (click)="closeImagePreview()"
    ></ion-img>
  </div>
</ion-content>